################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WorkingWithRazor/v15/Server/sqlite3
/.vs/WorkingWithRazor/v15
